*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "GameCube";
    src: url('font/GameCube.ttf');
}

body{
    background-color: rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
h1{
    margin-bottom: 10px;
    font-family: "GameCube";
}
.body{
    background-color: rgb(66, 0, 75);
    padding: 10px;
    border-radius: 20px;
}
.caculatrice{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgb(66, 0, 75);
}

.ecran{
    width: 300px;
    height: 150px;
    background: url(../img/fond.png) 0% 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px;
    animation: test 5s  infinite;
    word-wrap: break-word;
    word-break: break-all;
    
}
@keyframes test {
0% {left: 0;}
33.3% {left: 150px;}
66.6% {left: 300px;}
100% {left: 450px}
}
  
.mario{
    width: 70px;
    margin-right: 215px;
    animation-name: Mario;
    animation-iteration-count: infinite;
    animation-duration: 0.15s;
    position: absolute;
}
@keyframes Mario{
    from {transform: translateY(0);}
    to {transform: translateY(1.5px);}
}
p{
    height: 150px;
    width: 200px;
    margin: 5px;
    margin-left: 0px;
    font-size: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;   
}
.touche{
    background-color: blueviolet;
    width: 300px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
}
button{
    height: 40px;
    width: 60px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: thistle;
}
button:hover{
    background-color: rgb(41, 40, 40);
    color: white;
}
#btnC{
    background-color: rgb(255, 53, 27);
}
#btnEgal{
    background-color: rgb(0, 175, 88);
    width: 130px;
}
#btnPoint{
  background-color: rgb(255, 213, 24);
}